﻿@model IEnumerable<rejestr_osob.Models.Person>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Lista osób zaginionych</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Dodaj</a>
    </p>
}

<form asp-controller="People" asp-action="Index" method="get">
    Filtruj wyniki wedłóg:
    <p>
        Płeć:
        <select name="PersonGender">
            @if ((string)ViewData["PersonGender"] == "Wszyscy")
            {
                <option value="Wszyscy" selected="selected">Wszyscy</option>
            }
            else
            {
                <option value="Wszyscy">Wszyscy</option>
            }
            @if ((string)ViewData["PersonGender"] == "Mężczyzna")
            {
                <option value="Mężczyzna" selected="selected">Mężczyzna</option>
            }
            else
            {
                <option value="Mężczyzna">Mężczyzna</option>
            }
            @if ((string)ViewData["PersonGender"] == "Kobieta")
            {
                <option value="Kobieta" selected="selected">Kobieta</option>
            }
            else
            {
                <option value="Kobieta">Kobieta</option>
            }
        </select>

        <input type="submit" value="Filtruj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Płeć
            </th>
            <th>
                Wiek
            </th>
            @if ((bool)ViewData["isAdmin"])
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                @if ((bool)ViewData["isAdmin"])
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
