﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" asp-area="" asp-controller="People" asp-action="Index">Naciśnij tutaj aby potwierdzić swój adres email</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
